* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/*header section */

body {
    background-color: #808089;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

header {
    background: url(./website-images/light-bulb-header-image.jpg) no-repeat 50%;
    /* background-position: 0% 50%; */
    background-size: cover;
    opacity: 0.9;
    /* width: 100%; */
    height: -webkit-fill-available;
    position: relative;
    /*     filter: contrast(90%) brightness(70%); */
    filter: brightness(90%);
    box-shadow: 0px 3px #383535;
}

.imageContainer {
    background-image: url(./website-images/background4.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*    filter: grayscale(100%) brightness(50%);*/
    /*        position: absolute;*/
    /*    filter: contrast(90%) brightness(70%);*/
    width: 100%;
}

/*
.headerSection {
    position: absolute;
}
*/

/*
section {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
*/

img {
    height: 110px;
    padding: 1rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 22px;
}

p {
    font-family: 'Libre Baskerville', serif;
    color: #D1D1D3;
}

.headerTitle {
    color: white;
    text-shadow: 2px 2px black;
    position: absolute;
    font-size: 5rem;
    text-align: center;
    width: 75%;
    bottom: 83px;
    right: 8px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

.nameContainer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    text-align: center;
}

div.nameContainer h1 {
    color: white;
    text-align: center;
    font-size: 45px;
}

#logo {
    cursor: pointer;
}

div.nameContainer img {
    /*    color: white;*/
}

.navIcon {
    font-size: 35px;
    padding-right: 25px;
    padding-left: 5px;
    width: 33%;
}

a {
    text-decoration: none;
}

#toggle {}

.subIcons {
    background: url(./website-images/grey-menu-icon2.png) center center no-repeat;
    background-size: 3rem;
    background-color: #4A497C;
    border: 2px solid #9493B2;
    opacity: .7;
    cursor: pointer;
    width: 3.5%;
    height: 6.5%;
    position: fixed;
    top: 50%;
    left: 0.1%;
    z-index: 99;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    filter: none;
}

.subIcons:hover {
    opacity: 1;
    filter: none;
    transform: rotateZ(180deg);
}

.close {
    background: url(./website-images/cross-icon.png) center center no-repeat;
    background-size: 4rem;
    background-color: #4A497C;
    border: 2px solid #9493B2;
    cursor: pointer;
    width: 3%;
    height: 6%;
    position: fixed;
    top: 50%;
    left: 18.2%;
    z-index: 99;
    opacity: .6;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    -webkit-transition: all .6s;
    transition: all .6s ease;
    /*
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
*/
}

.close:hover {
    transform: rotate(-180deg);
    opacity: 1;
}

/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    /* padding-top: 20px; */
    font-family: 'Lato', sans-serif;
    opacity: .8;
    border-right: 5px solid #f1f1f1;
}

/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropDownBtn {
    padding: 20px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #818181;
    display: block;
    border-bottom: 2px solid;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Add an active class to the active dropdown button */

/*
.active {
    color: white;
}
*/

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropDownContainer {
    display: none;
    padding-top: 10px;
    width: 100%;
}

/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-top: 8%;
}

.dropDownContent a {
    color: #f1f1f1;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: right;
    border: none;
    font-size: 14px;
}

/*
.navigation {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 3s ease-in;
    z-index: 2000;
    width: 15%;
    overflow: hidden;
        border-right: 5px solid white;
}
*/

.nav li {
    display: block;
}

section.aboutMe div.resumeContainer {
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    display: block;*/
    /*    margin: 0 auto;*/
    /*    display: inline-block;*/
}



.specialTitle {
    /* background-color: #9D9494; */
    padding: 20px 0px 30px;
    border-radius: 10px 10px;
    text-align: center;
    margin: 15px;
    letter-spacing: 15px;
    color: white;
}

/*header section */

section h3 {
    font-family: 'Libre Franklin', sans-serif;
    color: #232223;
    /*    text-shadow: 1px 1px black;*/
    font-size: 3rem;
}

section.aboutMe p {
    padding-top: 5px;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

section.aboutMe .aboutMeContainer,
.contactIconContainer {
    /*        border: 3px solid #F8D86B;*/
    padding-top: 1rem;
    padding-bottom: 2rem;
}



/*collapse classes*/

/*

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.content {
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    opacity: .3;
}
*/

/*

.active,
.collapsible:hover {
background-color: #555;
}

.active:after {
content: "\2212";
}
.content:active {

    padding: 10px;
    margin: 10px;

}
*/

/**/

/*fade*/

.fadeContainer {
    position: relative;
    background: none;
    /*    width: 50%;*/
}

.image {
    opacity: 0.3;
    /*            display: block;*/
    /*    width: 100%;*/
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    /*    top: 50%;*/
    left: 50%;
    transform: translate(-53%, -150%);
    -ms-transform: translate(-53%, -150%);
    /*    display: none;*/
}

.image:hover {
    border: 4px solid white;
    border-radius: 50% 50%;
    opacity: 1;
}

.image:active {
    border: 4px solid white;
    border-radius: 50% 50%;
    opacity: 1;
}


.middle:hover {
    opacity: 1;
}

.text h5 {
    margin: 10px;
    color: white;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.text h6 {
    display: inline;
    width: 100%;
    color: white;
    font-size: 9.2px;
    margin-left: auto;
    margin-right: auto;
}

/**/

.name {
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}

.icons {
    /*    margin: 20px;*/
    height: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.icons img {
    height: 100px;
    padding: .5rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#mLab,
#javascript {
    height: 105px;
}

.toolButtonContainer {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: block;
    /*
    position: absolute;
    left: 0;
*/
}

.toolButtonContainer a {
    margin: 3px;
    padding: 3px;
}

.toolButtonContainer img {
    margin: 3px;
    padding: 3px;
    height: 120px;
}

.toolHeader {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.toolsInnerSection {
    border: 3px solid whitesmoke;
    border-radius: 3px 3px;
    /*    box-shadow: 5px 5px black;*/
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.sectionContainer {
    width: 100%;
    max-width: 1100px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(56, 53, 53, 0.8);
}

.sectionContainer:hover {
    opacity: 1;
}

section.tools .sectionContainer {
    position: relative;
}

.checked {
    color: orange;
}

.toolContainer {
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 20px;
}

.toolName {
    color: white;
    margin: 5px;
    padding: 6px 15px;
    background-color: #363636;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

.toolIconsContainer {
    max-width: 1100px;
    width: 100%;
    display: inline-block;
    padding: 0.5rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    /*    margin-top: 1rem;*/
    margin-bottom: 1rem;
    text-align: center;
    /*    background-color: #FFF7DC;*/
    border-radius: 10px 10px;
    position: relative;
}

.aboutMe,
.tools,
.contact,
.projects {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

div.headShotContainer img {
    width: 100%;
    height: auto;
    border: 1px solid #232223;
    border-radius: 6%;
    padding: 0;

}

.aboutMeContent {
    padding: 2rem;
}


section.aboutMe .headShotContainer {
    width: 35%;
    display: inline-block;
    /*    height: 100%;*/
    vertical-align: top;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


section.aboutMe .aboutMeContainer {
    width: 63%;
    display: inline-block;
    /*    margin-top: 1rem;*/
    /*    vertical-align: top;*/
}

div.resumeContainer button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* text-align: center; */
    background: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.resumeButton a {
    border: 2px solid #232223;
    border-radius: 5%;
    background-color: #686363;
    /*    line-height: 30px;*/
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: #140E0A;
    padding: 10px 60px;
}

.resumeButton a:hover {
    background-color: #0E0B0B;
    border: 1px solid #9D9494;
    color: #7E777B;
}

.resumeButton a:active {
    background-color: #0E0B0B;
    border: 3px solid white;
    color: #7E777B;
}

/* */

/*contact section*/

.contact a {
    font-size: 7rem;
    color: #686363;
    padding-left: 3rem;
    padding-right: 3rem;
}

.contactIconContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    /*    background-color: #FFF7DC;*/
}

.projectContainer img {
    height: 307px;
    padding: 0rem;
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    /*
        display: inline-block;
        opacity: .9;
        border: 2px solid #686363;
    margin-top: -1rem;
    padding-right: 10px;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
*/
}

.projectContainer img:hover {
    border: 2px solid white;
    /*
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
*/
}

.projectContainer {
    margin-bottom: 15px;
    padding: 15px;
    width: 49.8%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}


.projectContainer h6 {
    font-family: 'Libre Franklin', sans-serifx;
    font-size: 21px;
    border-bottom: 2px solid #9D9894;
    padding-bottom: 6px;
    color: whitesmoke;
    margin-top: 10px;
}

.projectContainer ul {
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.projectContainer li {
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 5px;
    border: 2px solid #232223;
    background-color: #C7C3BF;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: #2C2A2A;
    /*    opacity: .8;*/
}

.codeButton {
    position: relative;
    overflow: hidden;
    /*
        width: 100%;
        max-width: 500px;
    -webkit-transition: -webkit-transform 400ms;
    transition: transform 400ms;
*/
}

.codeButton:hover {
    /*
    transition: all 1s ease-in;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    max-width: 300px;
    max-height: 200px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
*/
    border: 1px solid white;
}


.projectButtons {
    position: absolute;
    top: 40%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
}

.code,
.demo {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: none;
    background-color: #232223;
    border: 1px solid #F4F3F5;
    color: #F4F3F5;
    margin-top: 10px;
    width: 90px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.projectDescription p {
    padding-top: 7px;
    padding-bottom: 7px;
}

.projectContainer a:hover {
    border: 1px solid #F4F3F5;
    text-decoration: underline;
    text-decoration-color: #F4F3F5;
    text-decoration-style: double;
}

.projectContainer a:active {
    border: 1px solid yellow;
}


/**/

/*footer section*/

footer {
    text-align: center;
    /* background-color: #FFCFB6; */
    /* background-color: #F8D86B; */
    /* border-top: 2px solid black; */
    /* height: 100px; */
    padding: 1rem;
}

div.footerInfo p {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;

}




nav:hover {
    /*    opacity: 1;*/
    /*    border-right: 5px solid #f1f1f1;*/
}

header:hover {
    opacity: 1;
}

.dropDownContent a:hover {
    /*    background-color: #65606C;*/
    background-color: #EEE4E4;
    color: black;
}

.dropDown:hover .dropDownContent {
    display: block;
}

/* On mouse-over */

.dropDownBtn:hover,
.navLink:hover {
    color: #f1f1f1;
}

.dropDownBtn a:hover {
    color: black;
}


/* visited link */

/*
.footer:visited {
    color: #0B090A;
}*/

/* mouse over link */

.footer:hover {
    text-shadow: 1px 1px white;
}

/* selected link */

.footer:active {
    color: #686363;
    text-shadow: 5px 5px black;
}




@media screen and (min-width: 701px) {
    .navigation {
        overflow: visible;
    }
}

@media screen and (min-width: 701px) {
    .navigation-active .nav li {
        width: 230px;
    }
}

@media screen and (min-width: 701px) {
    .nav li {
        /*        width: 70px;*/
        overflow: hidden;
        background: #1e1e1e;
        -webkit-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }
}



/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px) {}


/*ipad potrait*/

@media only screen and (max-width: 768px) {}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
