* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(./website-images/background4.jpg);
    background-attachment: fixed;
    /*    width: 100%;*/
    text-align: center;
    /*    position: relative;*/
}


header {
    position: relative;
}


img {
    height: 110px;
    padding: 1rem;
}

section {
    width: 90%;
    margin-left: 60px;
    margin-right: auto;
    padding: 5rem 0rem;
}

h4 {
    font-size: 22px;
}

p {
    /*    font-family: 'Libre Baskerville', serif;*/
    color: #D1D1D3;
}

a {
    text-decoration: none;
}

footer {
    padding: 1rem;
    margin-left: 80px;
}

section h3 {
    font-family: 'Raleway', sans-serif;
    color: #232223;
    font-size: 3rem;
}

.navigation ul {
    /* color: white; */
    /* margin: 0; */
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    /* transform: translate(-50%, -50%); */
    /*    display: inline-block;*/
    /*    width: 240px;*/
    /* padding-top: 80px; */
    /* padding-right: 10px; */
    /* max-height: 60%; */
}

.aboutMeContent {
    padding: 13px;
    margin: 15px 5px;
    font-size: 23px;
    text-align: left;
}

.headerTitle {
    /*    min-width: 1000px;*/
    color: white;
    text-shadow: 1px 1px darkslategrey;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 250px;
    font-size: 7rem;
    width: auto;
    font-family: 'Cinzel', serif;
    /*    letter-spacing: 2px;*/
    letter-spacing: .5px;
    transition: margin .5s ease-in;
}

/*

.headerTitle:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}
*/

.imageContainer {
    transition: margin .5s linear;
    /*    padding: 25px;*/
    width: 100%;
    /*        margin: 0 auto;*/
    display: inline-block;
    /*    margin-left: 30px;*/
}

.nameContainer {
    padding-top: 3rem;
    display: none;
    /*    width: 100%;*/
}

.nameContainer img {
    filter: contrast(100%);
    padding: 0;
    margin: 10px 20px;
}


#logo {
    cursor: pointer;
}



.headerContainer {
    /*    position: absolute;*/
    /*    min-width: 1200px;*/
    /*    min-height: 100%;*/
    width: 100%;
    height: auto;
    /*    min-height: 600px;*/
    max-width: 100%;

    margin: 0;
    padding: 0;

    /*    background: url(./website-images/light-bulb-header-image.jpg) no-repeat 50%;*/
    background-size: cover;
    filter: alpha(opacity=40);
    opacity: 0.4;
    filter: brightness(80%);
    box-shadow: 0px 3px #383535;
}

.navIcon {
    font-size: 25px;
    width: 25%;
    vertical-align: middle;
    color: white;
    display: inline-block;
    padding: 20px;
}

.sidebar {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    /*    font-family: 'Lato', sans-serif;*/
    /*    font-family: 'Raleway', sans-serif;*/
    /*
    filter: alpha(opacity=80);
    opacity: .8;
*/
    /*    border-right: 1px solid #f1f1f1;*/
    transition: width 0.5s ease-in-out;
}


.sidebar a {
    padding: 20px 0px;
    text-decoration: none;
    font-size: 21px;
    /*    font-weight: bold;*/
    text-transform: uppercase;
    /*    color: #818181;*/
    display: none;
    /*    display: inline-block;*/
    /* border-bottom: 2px solid; */
    /*     background: none; */
    /*    width: 70%;*/
    text-align: left;
    cursor: pointer;
    outline: none;
    letter-spacing: 2px;
}

.nav li {
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    margin: 10px auto;
    transition: all 1s ease-in;
}

.specialTitle {
    padding: 20px 0px 20px;
    letter-spacing: 8px;
    color: white;
    margin: 5px;
}

.navLink {
    display: inline-block;
    /*    transition: all 1s ease-in;*/
    padding: 10px 0px;
    color: white;
    /*    opacity: 1;*/
}

.navLink:hover {
    text-decoration: underline;
    text-decoration-color: #f1f1f1;
}

.navContact {
    padding: 20px 14px;
    display: none;
    /*    width: 100%;*/
    /*    margin: 0 auto;*/
}

.navContact p {
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    /*    position: sticky;*/
}

#number {
    padding: 0px 15px;
}

/*
.hiddenNav {
    display: none;
}
*/

.fadeContainer {
    position: relative;
    /*    height: auto;*/
}

.image {
    height: auto;
    transition: .5s ease;
    /*    backface-visibility: hidden;*/
    display: inline-block;
    width: 13%;
}

.middle {
    transition: .5s ease;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 70px;
    left: 0;
    right: 0;
    /*
    transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
*/
}

.text {
    filter: alpha(opacity=01);
    opacity: 0.01;
}

.text h5 {
    margin: 5px;
    color: white;
    font-size: 15px;
}

.text h6 {
    display: inline-block;
    color: white;
    font-size: 9.2px;
}

/*
#name {
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}
*/

.icons img {
    height: 100px;
    padding: .5rem;
}

#mLab,
#javascript {
    height: 95px;
}

.toolButtonContainer {
    margin-top: 30px;
    display: inline-block;
}


.toolButtonContainer img {
    margin: 3px;
    padding: 3px;
    /*    height: 120px;*/
}

.toolHeader {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.toolsInnerSection {
    border: 3px solid whitesmoke;
    border-radius: 1%;
    width: 95%;
    margin: 20px auto;
    /*
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
*/
}

.sectionContainer {
    /*    min-width: 1000px;*/
    width: 100%;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgba(56, 53, 53, 0.8);
    padding-bottom: 25px;
    display: inline-block;
}

.sectionContainer:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

span.fa.fa-star.black {
    color: black;
    text-shadow: 1px 1px black;
}

.checked {
    color: orange;
    text-shadow: 2px 2px black;
}

.toolContainer {
    /*    width: auto;*/
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 20px;
}

.toolName {
    color: white;
    margin: 5px;
    padding: 6px 15px;
    background-color: #363636;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

.toolIconsContainer {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/*
.headShotContainer img {
    width: 100%;
    height: auto;
    border: 1px solid #232223;
    border-radius: 4%;
    padding: 0;
    max-height: 355px;
    max-width: 340px;
}
*/

.headShotContainer {
    width: 35%;
    float: right;
    padding-top: 1rem;
    margin-left: 15px;
}

.headShotContainer img {
    width: 100%;
    height: auto;
    border: 1px solid #232223;
    border-radius: 4%;
    padding: 0;
    max-height: 355px;
    max-width: 340px;
}

.aboutMeContainer {
    width: 95%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.resumeContainer button {
    margin: 3rem auto 0;
    display: contents;
}

.resumeButton a {
    border: 2px solid #232223;
    border-radius: 4%;
    background-color: #686363;
    line-height: 40px;
    /*    font-family: 'Libre Franklin', sans-serif;*/
    font-weight: bold;
    color: #140E0A;
    padding: 13px 60px;
}

.resumeButton a:hover {
    background-color: #0E0B0B;
    border: 1px solid #9D9494;
    color: #7E777B;
}

.resumeButton a:active {
    background-color: #0E0B0B;
    border: 3px solid white;
    color: #7E777B;
}


.contactIconContainer {
    /*    margin: 5px;*/
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.contact a {
    font-size: 10rem;
    color: #686363;
    padding: 5px;
    margin: 5px;
}

.projectContainer {
    margin-bottom: 15px;
    padding: 15px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}

.projectContainer img {
    /*    height: 307px;*/
    height: auto;
    width: 100%;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    vertical-align: bottom;
}

.projectContainer h6 {
    font-size: 21px;
    border-bottom: 2px solid #9D9894;
    padding-bottom: 6px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    margin-top: 10px;
    letter-spacing: .5px;
}

.projectContainer ul {
    margin-top: 10px;
}

.projectContainer li {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 3px;
    border: 2px solid #232223;
    background-color: #C7C3BF;
    font-weight: bolder;
    color: #2C2A2A;
}

.projectContainer a:hover {
    border: 1px solid #F4F3F5;
    text-decoration: underline;
    text-decoration-color: #F4F3F5;
    text-decoration-style: double;
}

.projectContainer a:active {
    border: 1px solid yellow;
}

.codeButton {
    position: relative;
    overflow: hidden;
}

.codeButton:hover {
    border: 1px solid white;
}


.projectButtons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
}

.code,
.demo {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #232223;
    border: 1px solid #F4F3F5;
    color: #F4F3F5;
    margin: 2px;
    margin-top: 5px;
    width: 90px;
    /*    font-family: 'Libre Franklin', sans-serif;*/
    display: none;
}

.projectDescription p {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* mouse over link */

.footer:hover {
    text-shadow: 1px 1px white;
}

/* selected link */

.footer:active {
    color: #686363;
    text-shadow: 5px 5px black;
}

.footerInfo {
    font-size: 20px;
}

.footerInfo p {
    display: inline;
}


#nav-trigger {
    cursor: pointer;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 20px;
}

#nav-trigger.active span {
    background-color: transparent;
    cursor: pointer;
    margin-left: 25px;
    /*    left: 10px;*/
}

#nav-trigger.active span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: pointer;
    top: 0;
}

#nav-trigger.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    top: 0;
}

/*
#nav-trigger.active span:after,
#nav-trigger.active span:before {
    top: 0;
    cursor: pointer;
}
*/

#nav-trigger span:before {
    top: -8px;
    cursor: pointer;
}

#nav-trigger span:after {
    bottom: -8px;
    cursor: pointer;
}

#nav-trigger span,
#nav-trigger span:after,
#nav-trigger span:before {
    background: #fff;
    border-radius: 1px;
    content: '';
    cursor: pointer;
    display: block;
    height: 3px;
    width: 28px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*
#nav-trigger span:after {
    margin-left: unset;
}
*/

#nav-wrapper {
    display: inline-block;
    /*        transition: display 4s ease;*/
}



/*MEDIA QUERIES*/

/*monitor screen*/

@media screen and (min-width: 1500px) {
    section h3 {
        font-size: 4rem;
    }

    .aboutMeContent {
        padding: 11px;
        margin: 12px 5px;
        font-size: 25px;
    }

    .navContact p {
        margin: 12px;
        font-size: 16px;
    }

    .headerTitle {
        font-size: 7.5rem;
        margin-left: 45px;
        /*        width: 90%;*/
    }

    .resumeContainer button {
        font-size: 20px
    }

    .resumeButton a {
        padding: 20px 125px;
    }

    .text h5 {
        font-size: 24px;
    }

    .text h6 {
        font-size: 12px;
    }

    .middle {
        bottom: 85px;
    }

    .projectContainer li {
        font-size: 19px;
    }

    .projectContainer h6 {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .contact a {
        font-size: 13rem;
    }

    .icons img {
        height: 130px;
    }

    .code,
    .demo {
        padding-top: 17px;
        padding-bottom: 17px;
        width: 220px;
    }

    .footer i {
        width: 22%;
        /*        width: auto;*/
        /* display: inline-block; */
    }

    .sidebar {
        width: 90px;
    }

    .navIcon,
    .sidebar a {
        padding: 30px;
    }

    .navContact {
        padding: 20px;
    }

    .nameContainer {
        padding: 3rem 4.1rem 0rem;
        width: 100%;
    }

    .navIcon,
    .sidebar a {
        padding: 32px 45px 30px 30px;
    }

    .headShotContainer {
        width: 25%;
    }

    #nav-trigger {
        top: 30px;
    }

    #nav-trigger span,
    #nav-trigger span:after,
    #nav-trigger span:before {
        height: 3px;
        width: 34px;
    }
}


@media screen and (max-width: 1499px) {

    .aboutMeContent {
        font-size: 22px;
    }

    .sidebar {
        width: 70px;
    }

    .navContact {
        padding: 25px 40px;
    }

    .nameContainer {
        padding: 65px 65px 15px;
    }

    .navContact p {
        margin: 2px 0px;
        font-size: 15px;
    }

    .navIcon {
        padding: 25px 55px 25px 25px;
    }

    .sidebar a {
        padding: 25px;
    }

    .headerTitle {
        margin-left: 70px;
    }

    .code,
    .demo {
        padding-top: 13px;
        padding-bottom: 13px;
        width: 160px;
    }

    .projectContainer li {
        padding: 4px 6px;
        margin-bottom: 4px;
        border: 1px solid #232223;
        font-size: 17px;
    }

    .nav li {
        margin: 10px auto;
    }

    .footer i {
        width: 21%;
        /*        width: auto;*/
        /* display: inline-block; */
    }

}

@media only screen and (max-width: 1380px) {
    .headerTitle {
        font-size: 5.9rem;
    }

    .aboutMeContent {
        font-size: 21px;
    }

    .middle {
        bottom: 55px;
    }

    .code,
    .demo {
        padding-top: 12px;
        padding-bottom: 12px;
        width: 150px;
    }

}


@media only screen and (max-width: 1180px) {
    .headerTitle {
        font-size: 5.2rem;
        /*        margin-left: 50px;*/
    }

    .aboutMeContent {
        font-size: 20px;
        margin: 5px 5px;
    }

    .text h5 {
        font-size: 14.5px;
    }

    .middle {
        bottom: 50px;
    }
}


/*laptop*/

@media only screen and (max-width: 1024px) {
    body,
    html {
        overflow-x: hidden;
        overflow-y: auto;
    }
    section {
        margin-left: 85px;
        margin-right: auto;
        width: 90%;
    }

    .aboutMeContent {
        font-size: 18px;
    }

    .nameContainer {
        padding: 3rem 2.5rem 0rem;
    }

    .navContact {
        padding: 20px 14px;
    }


    .sidebar a {
        padding: 20px;
    }

    .navIcon {
        padding: 20px 45px 20px 20px;
    }

    .sectionContainer {
        min-width: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .specialTitle {
        letter-spacing: 3px;
    }

    .headerTitle {
        font-size: 4.5rem;
        /* width: 80%; */
        top: 150px;
    }

    .projectContainer {
        padding: 3px;
    }

    .projectContainer li {
        font-size: 13px;
    }

    .toolContainer {
        padding: 10px 10px;
    }

    .middle {
        bottom: 35px;
    }

    .text h5 {
        font-size: 13.5px;
    }

    .text h6 {
        font-size: 8px;
    }

    .icons img {
        padding: 0px;
        height: 75px;
    }

    #javascript,
    #mLab {
        height: 73px;
    }

    .toolName {
        font-size: 12px;
    }

    .code,
    .demo {
        padding-top: 11px;
        padding-bottom: 11px;
        width: 140px;
    }


    .footer i {
        width: 20%;
        /* width: auto; */
        /* display: inline-block; */
    }


    .contact a {
        font-size: 8rem;
    }

}

@media only screen and (max-width: 1000px) {
    section {
        width: 89%;
    }

    .sectionContainer {
        /*        min-width: 1000px;*/
        width: 100%;
    }

    .image {
        width: 14.5%;
    }

    .icons img {
        height: 70px;
    }


}


@media screen and (max-width: 879px) {
    section {
        width: 88%;
    }

    .headerTitle {
        font-size: 4rem;
    }

    .image {
        width: 19%;
    }

    .middle {
        bottom: 50px;
    }

    .text h5 {
        font-size: 17px;
    }

    .code,
    .demo {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100px;
    }



}

@media only screen and (max-width: 829px) {
    section {
        width: 87%;
    }

    .headerTitle {
        font-size: 3.7rem;
    }

    .middle {
        bottom: 45px;
    }

    .text h5 {
        font-size: 15px;
    }

    .text h6 {
        font-size: 10px;
    }

    .footer i {
        /*        width: 20%;*/
        width: auto;
        /* display: inline-block; */
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {

    section {
        width: 95%;
        margin-left: auto;
    }

    footer {
        margin-left: auto;
    }


    .aboutMeContent {
        font-size: 19px;
        padding: 6px;
    }

    .headerContainer {
        min-height: 600px;
    }

    .headerTitle {
        font-size: 4.6rem;
        min-width: 0;
        top: 100px;
        margin: auto;
    }

    /*
    .hiddenNav {
        display: block;
        height: 90px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1e1e1e;
        border-bottom: none;
        border-bottom: 3px solid black;
        overflow: hidden;
    }
*/
    .sidebar {
        /*        background-color: #1e1e1e;*/
        border-bottom: none;
        /*        color: #fff;*/
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        /*        z-index: 99;*/
        height: 70px;
        transition: height .5s;
    }

    .logo-area {
        display: inline-block;
    }

    #nav-trigger {
        /* padding-top: 5px; */
        position: absolute;
        top: 30px;
        left: 20px;
        /*        width: 22px;*/
        margin-left: unset;
    }

    #nav-trigger.active span {
        background-color: transparent;
        /*        cursor: pointer;*/
    }

    #nav-trigger.active span:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        cursor: pointer;
        top: 0;
    }

    #nav-trigger.active span:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer;
        top: 0;
    }

    /*
    #nav-trigger.active span:after,
    #nav-trigger.active span:before {
        top: 0;
        cursor: pointer;
    }
*/
    #nav-trigger span:before {
        top: -8px;
        /*        cursor: pointer;*/
    }

    #nav-trigger span:after {
        bottom: -8px;
        /*        cursor: pointer;*/
    }

    #nav-trigger span,
    #nav-trigger span:after,
    #nav-trigger span:before {
        background: #fff;
        border-radius: 1px;
        content: '';
        cursor: pointer;
        display: block;
        height: 3px;
        width: 30px;
        margin-left: unset;
        /*        margin: 18px 0px;*/
        position: absolute;
        -webkit-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
    }

    #nav-wrapper {
        display: block;
        /*        transition: display 4s ease;*/
    }

    .container {
        border-bottom: 1px solid dimgray;
        height: 70px;
        width: 100%;
        position: fixed;
        transition: none;
    }

    .nav li {
        overflow: visible;
        width: 100%;
        /* width: 22.1%; */
        margin: 0px;
        padding: 20px 0px;
        /*        margin-left: 0px;*/
        /*        float: left;*/
        display: block;
        border-bottom: 1px solid dimgray;
    }

    .navLink {
        padding: 0;
        font-size: 14px;
    }

    .navContact p {
        font-size: 13px;
        margin-top: 12px;
        /*        margin: 3px;*/
        /*        display: inline-block;*/
        vertical-align: -webkit-baseline-middle;
        letter-spacing: .4px;
    }

    .nameContainer,
    .navContact {
        padding: 0;
        /*        display: block;*/
        position: absolute;
        /*        margin-top: 7px;*/
        /*        transition: all 2s linear;*/
    }

    .nameContainer {
        top: 0px;
        right: 0px;
        /*        margin-top: 8px;*/
    }

    .nameContainer img {
        height: 50px;
    }

    .navContact {
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 70%;
    }

    .navigation ul {
        position: static;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        transform: none;
        width: 100%;
        padding-top: 0;
        padding-right: 0;
        max-height: none;
    }

    .sidebar a {
        font-size: 16px;
        width: auto;
        display: inline;
    }

    .navIcon {
        font-size: 16px;
        width: auto;
        vertical-align: text-top;
        margin-right: 3px;
        padding: 0px;
    }

    .aboutMeContainer {
        width: 96%;
        margin: 4px auto;
        padding: 1px;
    }

    .headShotContainer {
        width: 40%;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        padding-top: 1rem;
    }

    .headShotContainer img {
        min-height: 200px;
        min-width: 190px;
    }

    .image {
        width: 23%;
    }

    .middle {
        bottom: 55px;
    }

    .text h5 {
        font-size: 17px;
    }

    .text h6 {
        font-size: 11.5px;
    }

    .projectButtons {
        top: 45%;
    }

    .projectContainer {
        width: 85%;
    }

    .projectContainer h6 {
        font-size: 25px;
        border-bottom: 3px solid #9D9894;
    }

    .projectContainer li {
        padding: 4px;
        margin: 2px 0px;
        font-size: 18px;
        border: 1px solid #232223;
    }

    .code,
    .demo {
        padding-top: 11px;
        padding-bottom: 11px;
        width: 150px;
    }

    .contact a {
        font-size: 8.8rem;
    }

    /*
    a.footer i {
        width: 45%;
        margin: 5px;
        padding: 5px;
    }
*/
    .footerInfo p {
        font-size: 18px;
    }

    #javascript,
    #mLab {
        height: 65px;
    }

    .fadeContainer {
        margin: 10px;
    }
}


@media screen and (max-width: 701px) {
    .aboutMeContent {
        font-size: 20px;
    }

    .navigation {
        overflow: visible;
    }

    .image {
        width: 26%;
    }

    .projectContainer li {
        font-size: 16px;
    }

    .contactIconContainer {
        padding: 2px;
    }

    .contact a {
        font-size: 7.5rem;
        margin: 0px;
        padding: 0px;
    }

    .footer i {
        margin: 10px;
        width: auto;
    }

}

@media screen and (max-width: 580px) {
    .headerTitle {
        font-size: 4rem;
        top: 120px;
    }

    .navContact p {
        font-size: 12px;
    }

    .headShotContainer {
        width: 49%;
        margin-right: 3px;
        margin-left: 4px;
        padding: 1rem 5px 5px;
    }

    .aboutMeContent {
        font-size: 21px;
        margin: 4px 3px;
        padding: 8px;
    }

    .image {
        width: 30%;
    }

    .middle {
        bottom: 55px;
    }

    .text h5 {
        font-size: 15.5px;
    }

    .text h6 {
        font-size: 11.5px;
    }

    .projectContainer li {
        padding: 2px 3px;
        margin: 2px 0px;
        font-size: 16px;
        border: none;
    }

    .contact a {
        font-size: 6rem;
    }

    .fadeContainer {
        margin: 2px;
    }

    /*
    .specialTitle {
        letter-spacing: 10px;
    }
*/
}

/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body,
    html {
        overflow-x: hidden;
    }

    section {
        margin-left: auto;
        margin-right: auto;
    }

    .aboutMeContent {
        font-size: 18px;
    }

    .sectionContainer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        min-width: 0;
    }

    .headerTitle {
        top: 170px;
        font-size: 3.7rem;
        min-width: 0;
        letter-spacing: 3px;
        margin: 15px auto;
    }

    #logo {
        height: 50px;
    }
    /*
.nameContainer {
    right: 10px;
}
*/
    .headShotContainer {
        width: 53%;
        margin-left: 4px;
        margin-right: 18px;
        padding-right: 5px;
    }

    .resumeContainer button {
        margin-top: 1rem;
    }

    .code,
    .demo {
        padding-top: 9px;
        padding-bottom: 9px;
        width: 110px;
    }

    .projectContainer {
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .projectContainer ul {
        margin: 10px 0px;
    }

    .projectContainer li {
        font-size: 14.1px;
    }

    .projectContainer h6 {
        font-size: 20px;
    }

    .toolButtonContainer {
        display: inline-block;
        /*        width: 90%;*/
        padding: 1px;
        margin-top: 0;
    }

    .toolHeader {
        margin-bottom: 10px;
    }

    .toolButtonContainer img {
        margin: 7px 10px;
    }

    .image {
        width: 39%;
    }

    #javascript {
        height: 75px;
    }

    .middle {
        bottom: 60px;
    }

    .text h5 {
        font-size: 17px;
    }

    .text h6 {
        font-size: 10px;
    }

    .icons img {
        height: 80px;
    }

    .contact a {
        font-size: 7rem;
        margin: 6px;
        padding: 6px;
    }

    .footerInfo p {
        font-size: 14px;
    }

    /*
    .specialTitle {
        letter-spacing: 8px;
    }
*/
}


@media only screen and (max-width: 420px) {

    /*
    .nameContainer {
        margin-top: 10px;
    }
*/
    .toolContainer {
        padding: 5px;
        margin: 7px;
    }

    #logo {
        height: 45px;
    }

    .middle {
        bottom: 55px;
    }

    .text h5 {
        font-size: 15px;
    }

    .code,
    .demo {
        width: 110px;
        font-size: 13.5px;
    }

    .footer i {
        width: auto;
        display: inline-block;
        padding: 5px;
        margin: 5px;
    }

}

@media only screen and (max-width: 369px) {
    #logo {
        height: 45px;
    }

    .specialTitle {
        font-size: 2.8rem;
    }

    .footer i {
        margin: 0px;
        padding: 0px;
    }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {

    section {
        width: 100%;
    }

    .navigation ul {
        margin-top: 50px;
    }

    .headerContainer {
        min-width: 800px;
        min-height: 100%;
    }

    .sectionContainer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutMeContainer {
        width: 100%;
    }

    #logo {
        height: 35px;
        /*        margin-top: 15px;*/
    }

    .headShotContainer {
        width: 55%;
        padding: 9px 0px 0px;
        margin: 0px 4px 0px 0px;
    }

    .headShotContainer img {
        max-height: 210px;
        max-width: 190px;
        min-height: 0;
        min-width: 0;
    }

    .nameContainer {
        margin-top: 5px;
    }

    #nav-trigger {
        top: 20px;
        left: 10px;
    }

    .navContact {
        margin-top: 5px;
    }

    .navContact p {
        font-size: 11px;
        margin: 3px;
        letter-spacing: .1px;
    }

    .nameContainer {
        /*        margin-left: 0px;*/
        right: 5px;
        margin-top: 7px;
    }

    .container,
    .sidebar {
        height: 50px;
    }

    .headerTitle {
        font-size: 3rem;
        letter-spacing: 1px;
        width: auto;
        top: 105px;
    }

    .projectContainer {
        width: 99%;
    }

    .projectContainer h6 {
        font-size: 18px;
    }

    .projectContainer ul {
        margin: 10px 0px;
        width: 100%;
        margin: 5px auto;
        /* display: block; */
    }

    .projectContainer li {
        font-size: 14px;
        border: 0px solid #232223;
        padding: 1px 4px;
        margin: 2px 0px;
    }

    .middle {
        bottom: 45px;
    }

    .image {
        width: 42%;
    }

    .text h5 {
        font-size: 14px;
    }

    .aboutMeContent {
        font-size: 16px;
        padding: 10px;
    }

    .specialTitle {
        letter-spacing: 1px;
        padding-bottom: 25px;
        font-size: 2.7rem;
    }

    .toolContainer {
        /* width: auto; */
        display: inline-block;
        padding: 10px 10px;
        margin: 15px 1px;
    }

    .icons img {
        height: 70px;
    }

    .contact a {
        font-size: 7rem;
        margin: 2px;
        /*        padding: 2px;*/
    }

}

}
