* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/*header section */

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(./website-images/background4.jpg);
    background-attachment: fixed;
    /*    width: 100%;*/
    text-align: center;
    /*    position: relative;*/
}

body,
html {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*    overflow: hidden;*/
}

header {
    /*
    background: url(./website-images/light-bulb-header-image.jpg) no-repeat 50%;
    background-size: cover;
    filter: alpha(opacity=90);
    opacity: 0.6;
        width: 100%;
    height: 100%;
        position: relative;
    filter: brightness(90%);
    box-shadow: 0px 3px #383535;
*/
    position: relative;

}

header:hover {
    filter: alpha(opacity=100);
    opacity: .9;
}

img {
    height: 110px;
    padding: 1rem;
}

section {
    /*    width: 90%;*/
    margin-left: 25px;
    margin-right: auto;
    padding: 5rem 0rem;
}

h4 {
    font-size: 22px;
}

p {
    /*    font-family: 'Libre Baskerville', serif;*/
    color: #D1D1D3;
}

a {
    text-decoration: none;
}

footer {
    padding: 1rem;
}

.headerTitle {
    color: white;
    text-shadow: 4px 4px darkcyan;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 5rem;
    width: 82%;
    top: 270px;
    /* right: 50px; */
    /* font-family: 'Signika', sans-serif; */
    font-family: 'Cinzel', serif;
    /* font-family: 'Permanent Marker', cursive; */
    letter-spacing: 2px;
    text-align: left;
    /* margin-top: 20rem; */
}

.imageContainer {
    transition: all .5s;
    /*    padding: 25px;*/
    width: 100%;
    /*        margin: 0 auto;*/
    display: inline-block;
    /*    margin-left: 30px;*/
}

.nameContainer {
    padding-top: 2rem;
    display: none;
}

.nameContainer img {
    filter: contrast(160%);
    padding: 0;
}

.subIconContainer {
    /*

    margin-left: auto;
    margin-right: auto;
*/
    /*    text-align: center;*/
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

#logo {
    cursor: pointer;
}

.headerOutterContainer {
    /*
    position: relative;
    width: 100%;
            min-width: 1200px;
    min-height: 100%;

    margin: 0;
    padding: 0;

    background: url(./website-images/light-bulb-header-image.jpg) no-repeat 50%;
    background-size: cover;
    filter: alpha(opacity=90);
    opacity: 0.6;
        height: 100%;
    filter: brightness(90%);
    box-shadow: 0px 3px #383535;
*/
}

.headerContainer {
    /*    position: absolute;*/
    min-width: 1200px;
    width: 100%;

    min-height: 100%;

    margin: 0;
    padding: 0;

    /*    background: url(./website-images/light-bulb-header-image.jpg) no-repeat 50%;*/
    background-size: cover;
    filter: alpha(opacity=90);
    opacity: 0.6;
    height: 100%;
    filter: brightness(90%);
    box-shadow: 0px 3px #383535;
}

.navIcon {
    font-size: 25px;
    width: 23%;
    vertical-align: middle;
    color: white;
    display: inline-block;
    padding: 20px 0px;
}


main.navigation ul {
    /*    color: white;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    padding-top: 170px;
    padding-right: 15px;
    max-height: 60%;
}

.subIcons {
    color: white;
    /*
    text-align: left;

    filter: alpha(opacity=70);
    opacity: .7;
*/
    cursor: pointer;
    position: absolute;
    /*    left: 12px;*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    filter: none;
    font-size: 2rem;
    /*    width: 90%;*/
    /*
    padding-bottom: 30px;
    padding-left: 7px;
    padding-right: 7px;
*/
}

.subIcons:hover {
    /*

    filter: alpha(opacity=100);
    opacity: 1;
*/
    filter: none;
    -ms-transform: rotateZ(270deg);
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
    /*    background-color: white;*/
    /*    color: black;*/
    /*    border: 1px solid white;*/
}

.close {
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 99;
    /*    filter: alpha(opacity=60);*/
    /*    opacity: .6;*/
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-right: 15px;
    display: none;
}

.close:hover {
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter: alpha(opacity=100);
    /*    opacity: 1;*/
}

/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    /*    font-family: 'Lato', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    /*
    filter: alpha(opacity=80);
    opacity: .8;
*/
    /*    border-right: 1px solid #f1f1f1;*/
    transition: 0.5s;
}

/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropDownBtn {
    padding: 20px 0px;
    text-decoration: none;
    font-size: 20px;
    /*    font-weight: bold;*/
    text-transform: uppercase;
    /*    color: #818181;*/
    display: inline-block;
    /* border-bottom: 2px solid; */
    /* background: none; */
    width: 70%;
    text-align: left;
    cursor: pointer;
    outline: none;
    letter-spacing: 2px;
}

/*

.dropDownContainer {
    display: none;
    padding-top: 10px;
    width: 100%;
}
*/

/*
.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-top: 8%;
}
*/

.dropDownContent a {
    color: #f1f1f1;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: right;
    border: none;
    font-size: 14px;
}

.nav li {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-left: 2.5px;
}

.specialTitle {
    padding: 20px 0px 20px;
    letter-spacing: 15px;
    color: white;
}

.dropDownContent a:hover {
    background-color: #EEE4E4;
    color: black;
}

.dropDown:hover .dropDownContent {
    display: block;
}




.dropDownBtn a:hover {
    color: black;
}


.navLink {
    display: inline-block;
    transition: 0.3s;
    padding: 10px 0px;
    color: white;
    /*    opacity: 1;*/
}

.navLink:hover {
    text-decoration: underline;
    text-decoration-color: #f1f1f1;
}

/*
.navLink a {
    display: none;
}
*/

.navContact {
    /*    position: absolute;*/
    /*
    margin-left: auto;
    margin-right: auto;
*/
    /*
    left: 0;
    right: 0;
    bottom: 0;
*/
    padding: 20px 0px;
    display: none;
}

.navContact p {
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
}

section h3 {
    font-family: 'Raleway', sans-serif;
    color: #232223;
    font-size: 3rem;
}

section.aboutMe p {
    padding: 5px;
    font-size: 18px;
    text-align: left;
}

.fadeContainer {
    position: relative;
    height: auto;
}

.image {
    height: auto;
    transition: .5s ease;
    /*    backface-visibility: hidden;*/
    display: inline-block;
    width: 13%;
}

.middle {
    transition: .5s ease;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    left: 0;
    right: 0;
    /*
    transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
*/
}

.text {
    filter: alpha(opacity=01);
    opacity: 0.01;
}

.text h5 {
    margin: 5px;
    color: white;
    font-size: 15px;
}

.text h6 {
    display: inline-block;
    color: white;
    font-size: 9.2px;
}

.name {
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}

.icons img {
    height: 100px;
    padding: .5rem;
}

#mLab,
#javascript {
    height: 95px;
}

.toolButtonContainer {
    margin-top: 30px;
    display: block;
}


.toolButtonContainer img {
    margin: 3px;
    padding: 3px;
    /*    height: 120px;*/
}

.toolHeader {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.toolsInnerSection {
    border: 3px solid whitesmoke;
    border-radius: 1%;
    width: 95%;
    margin: 20px auto;
    /*
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
*/
}

.sectionContainer {
    /* max-width: 100%; */
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgba(56, 53, 53, 0.8);
}

.sectionContainer:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

section.tools .sectionContainer {
    /*    display: inline-block;*/
}


span.fa.fa-star.black {
    color: black;
    text-shadow: 1px 1px black;
}

.checked {
    color: orange;
    text-shadow: 2px 2px black;
}

.toolContainer {
    /*    width: auto;*/
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 20px;
}

.toolName {
    color: white;
    margin: 5px;
    padding: 6px 15px;
    background-color: #363636;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

.toolIconsContainer {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

div.headShotContainer img {
    width: 100%;
    height: auto;
    border: 1px solid #232223;
    border-radius: 4%;
    padding: 0;
}

.headShotContainer {
    width: 28%;
    display: inline-block;
    vertical-align: middle;
    /*    padding-top: 1rem;*/
    margin-right: 12px;
}

.aboutMeContainer {
    width: 67%;
    display: inline-block;
    vertical-align: middle;
}

div.resumeContainer button {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.resumeButton a {
    border: 2px solid #232223;
    border-radius: 4%;
    background-color: #686363;
    line-height: 30px;
    /*    font-family: 'Libre Franklin', sans-serif;*/
    font-weight: bold;
    color: #140E0A;
    padding: 10px 60px;
}

.resumeButton a:hover {
    background-color: #0E0B0B;
    border: 1px solid #9D9494;
    color: #7E777B;
}

.resumeButton a:active {
    background-color: #0E0B0B;
    border: 3px solid white;
    color: #7E777B;
}


.contact a {
    font-size: 7rem;
    color: #686363;
}

.contactIconContainer {
    padding: 1rem;
}

.projectContainer {
    margin-bottom: 15px;
    padding: 15px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}

.projectContainer img {
    /*    height: 307px;*/
    height: auto;
    width: 100%;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    vertical-align: bottom;
}

.projectContainer h6 {
    font-size: 21px;
    border-bottom: 2px solid #9D9894;
    padding-bottom: 6px;
    color: whitesmoke;
    margin-top: 10px;
    letter-spacing: .5px;
}

.projectContainer ul {
    margin-top: 10px;
}

.projectContainer li {
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 5px;
    border: 2px solid #232223;
    background-color: #C7C3BF;
    font-weight: bolder;
    color: #2C2A2A;
}

.codeButton {
    position: relative;
    overflow: hidden;
}

.codeButton:hover {
    border: 1px solid white;
}


.projectButtons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
}

.code,
.demo {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #232223;
    border: 1px solid #F4F3F5;
    color: #F4F3F5;
    margin-top: 5px;
    width: 90px;
    /*    font-family: 'Libre Franklin', sans-serif;*/
    display: none;
}

.projectDescription p {
    padding-top: 7px;
    padding-bottom: 7px;
}

.projectContainer a:hover {
    border: 1px solid #F4F3F5;
    text-decoration: underline;
    text-decoration-color: #F4F3F5;
    text-decoration-style: double;
}

.projectContainer a:active {
    border: 1px solid yellow;
}

.footer {
    width: 24%;
    display: inline-block;
}

/* mouse over link */

.footer:hover {
    text-shadow: 1px 1px white;
}

/* selected link */

.footer:active {
    color: #686363;
    text-shadow: 5px 5px black;
}

div.footerInfo p {
    display: inline;
}








/*MEDIA QUERIES*/

/*monitor screen*/

@media screen and (min-width: 1600px) {
    section.aboutMe p {
        font-size: 25px;
    }

    section h3 {
        font-size: 4rem;
    }

    .navContact p {
        font-size: 14px;
    }

    .headerTitle {
        font-size: 7rem;
    }

    div.resumeContainer button {
        font-size: 20px
    }

    .resumeButton a {
        padding: 20px 125px;
    }

    .middle {
        bottom: 75px;
    }

    .projectContainer li {
        font-size: 19px;
    }

    .projectContainer h6 {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .contact a {
        font-size: 11rem;
    }
}

/*laptop*/

@media only screen and (max-width: 1024px) {

    .headerTitle {
        font-size: 4rem;
        width: 80%;
    }

    section.aboutMe p {
        padding: 5px 12px;
        font-size: 14px;
    }

    .projectContainer li {
        font-size: 12px;
    }

    .toolButtonContainer img {
        padding: 0px;
    }

    .text h5 {
        font-size: 13px;
    }

    .text h6 {
        font-size: 8px;
    }

    .icons img {
        padding: 0px;
        height: 90px;
    }

    #javascript,
    #mLab {
        height: 55px;
    }

    .toolName {
        font-size: 12px;
    }

    .close,
    .subIcons {
        font-size: 2rem;
    }

    .middle {
        bottom: 40px;
    }

    .projectContainer {
        padding: 3px;
    }


}


/*ipad potrait*/

@media only screen and (max-width: 768px) {

    section {
        width: 100%;
    }

    .headerTitle {
        font-size: 3.1rem;
    }

    .sectionContainer {
        width: 100%;
    }

    .toolButtonContainer {
        padding: 2px 10px;
    }

    .middle {
        bottom: 25px;
    }

    .projectContainer h6 {
        font-size: 19px;
    }

    .projectContainer li {
        padding: 3px 4px;
        margin: 2px 0px;
        font-size: 13px;
        border: 1px solid #232223;
    }
}


@media screen and (min-width: 701px) {
    .nav li {
        overflow: hidden;
        background: #1e1e1e;
        -webkit-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }

    .navigation {
        overflow: visible;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body, html {
        overflow-x: hidden;
    }

    .sidenav {
        height: 80px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1e1e1e;
        font-family: 'Raleway', sans-serif;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
