* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/*header section */

nav {
    position: fixed;
    width: 100%;
    background-color: #7498C1;
    padding: 15px;
    top: 0;
    z-index: 1000;
}

header {
    /*    background: url(./website-images/dallas-bridge-header-image.jpg) no-repeat;*/
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    position: relative;
}

img {
    height: 150px;
    width: 150px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.headerImage {
    width: 100%;
    height: 500px;
    max-height: 1000px;
    padding-left: 0;
    padding-right: 0;
}

.headerTitle {
    color: black;
    position: absolute;
}

.navList {
    background-color: #FFF7DC;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #D5B441;


}

.navOptions {
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #D5B441;
    text-decoration: none;
}

/* */

/*header section */

section h3 {
    font-family: ;
    color: ;
    font-size: 1.4rem;
    margin-bottom: 30px;
}


.section-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
    display: block;
    height: auto;
}

section.skills .skills-container {
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

section.skills .skills-container img {
    padding-left: ;
    padding-right: ;
    padding-bottom: ;
}

/* */
