* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/*header section */

body {
    background-color: #808089;
    font-family: 'Roboto', sans-serif;
}

/*
nav {
    position: fixed;
    width: 100%;
    background-color: #AFAAE2;
    background: linear-gradient(#AFAAE2, #837EC9);
    padding: 5px;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #433B94;
    opacity: .6;
}
*/

nav:hover {
    opacity: 1;
}

header {
    background: url(./website-images/light-bulb-header-image.jpg) no-repeat;
    background-position: 0% 50%;
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: -webkit-fill-available;
    /* margin-top: 6rem; */
    position: relative;
    filter: contrast(90%) brightness(70%);
}

header:hover {
    opacity: 1;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
*/

img {
    height: 125px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h4 {
    font-size: 22px;
}

p {
    font-family: 'Libre Baskerville', serif;
    color: #D1D1D3;
}

button {
    background-color: #414950;
}

/*
li,
li.dropDown {
    display: inline-block;
}
*/

.headerImage {
    width: 100%;
    height: 500px;
    max-height: 1000px;
    padding-left: 0;
    padding-right: 0;
}

.headerTitle {
    color: white;
    text-shadow: 2px 2px black;
    position: absolute;
    font-size: 5rem;
    text-align: center;
    width: 75%;
    bottom: 83px;
    right: 8px;
    font-family: 'Roboto Mono', monospace;
}


@media screen and (min-width: 701px) {
    .navigation {
        overflow: visible;
    }
}

@media screen and (min-width: 701px) {
    .navigation-active .nav li {
        width: 230px;
    }
}

@media screen and (min-width: 701px) {
    .nav li {
        /*        width: 70px;*/
        overflow: hidden;
        background: #1e1e1e;
        -webkit-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }
}

@media screen and (min-width: 701px) {

    /*
    .nav li a {
        width: 230px;
    }
*/
}



/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    padding-top: 20px;
    /*
    display: block;
    text-align: center;
*/
}

/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropDownBtn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */

.sidenav a:hover,
.dropDownBtn:hover {
    color: #f1f1f1;
}

/* Add an active class to the active dropdown button */

.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropDownContainer {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/*
li a,
.dropDownBtn,
button{
*/

/*
display: inline-block;
margin: .5rem;
margin-left: auto;
margin-right: auto;

color: #6058AC;
padding: 5px;
padding-left: 2.5rem;
padding-right: 2.5rem;
text-decoration: none;
border-right: 1px solid rgb(255, 247, 220);*/

}

.dropDownContent {
    display: none;
    position: absolute;
    /*    background-color: #f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropDownContent a {
    color: #AFAAE2;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDownContent a:hover {
    background-color: #AFAAE2;
}

.dropDown:hover .dropDownContent {
    display: block;
}

/*
.navItem a,
.dropDownBtn,
button {
    text-decoration: none;
    font-size: 15px;
    color: #f8f8f8;
    display: block;
    border-bottom: 2px solid #2b2b2b;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Lato', sans-serif;
    padding: 23px 23px 23px 70px;
    position: relative;
    width: 100%;
}
*/

/*
.navigationActive {
    width: 230px;
}
*/

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    /*    background-color: #414950;*/
    /*    background: #1e1e1e;*/
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2000;
    width: 50% overflow: hidden;
    /*
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
*/
}

.navigationActive .logo {
    opacity: 1;
    visibility: visible;
}

.logo span {
    display: block;
}

/*
.menuButton {
    width: 36px;
    height: 18px;
    cursor: pointer;
    z-index: 1000;
    margin-top: 15px;
    margin-left: 16px;
}
*/

.menuButton.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 12px;
}

.menuButton.active span:nth-child(2) {
    opacity: 0;
    top: 7px;
}

.menuButton.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -7px;
}

.menuButton span {
    height: 3px;
    margin-top: 7px;
    /*    background: #fff;*/
    display: block;
    position: relative;
    top: 0;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.nav li {
    display: block;
}









/*

.navName {
    width: 49%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.namePic {
    font-family: 'Abril Fatface', cursive;
    color: #FFCFB6;
    text-shadow: 0.3px 0.3px black;
    font-size: 3rem;
}

.navList {
    width: 100%;
    text-align: right;

    display: inline-block;
    vertical-align: top;

}
*/

.specialTitle {
    background-color: #D1D1D3;
    padding: 15px;
    border-radius: 10px 10px;
    text-align: center;
}

/*header section */

section h3 {
    font-family: 'Libre Franklin', sans-serif;
    color: #484857;
    text-shadow: 0.5px 0.5px black;
    font-size: 2rem;
    /* margin-top: 100px; */
    /* margin-bottom: 30px; */
}

section.aboutMe p {
    padding-top: 5px;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

section.aboutMe .aboutMeContainer,
.contactIconContainer {
    border: 3px solid #F8D86B;
}


.sectionContainer {
    width: 95%;
    max-width: 1100px;
    display: block;
    padding: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*
    background-color: #FFCFB6;
    border-radius: 10px 10px;
*/
}

.skillIconsContainer {
    max-width: 1100px;
    display: block;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    /*    margin-top: 1rem;*/
    margin-bottom: 1rem;
    text-align: center;
    background-color: #FFF7DC;
    border-radius: 10px 10px;
}

section.skills .skills-container {
    width: 100%;
    /*    background-color: #FFFFFF;*/
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

section.skills .skills-container img {
    padding-left: ;
    padding-right: ;
    padding-bottom: ;
}

.aboutMe,
.skills,
.contact,
.projects {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

section.aboutMe img {
    float: right;
    padding-bottom: 30px;
    width: 33%;
}

.aboutMeContent {
    width: 66%;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* */

/*contact section*/

/*
section.contact h3 {
    color: black;
    padding-bottom: 3rem;
}*/

section.contact i {
    font-size: 7rem;
    color: #325C8B;
    padding-left: 3rem;
    padding-right: 3rem;
}

section.contact i:hover {
    text-shadow: 4px 4px #F89C6B;
}

.contactIconContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #FFF7DC;
}

section.projects .projectContainer img {
    height: 307px;
    margin-top: -1rem;
    padding-right: 10px;
    width: 49.5%;
    vertical-align: top;
    display: inline-block;
}

section.projects .projectContainer {
    /*    background-color: #F4F3F5;*/
    margin-bottom: 15px;
    padding: 15px;
    border: 3px solid #F8D86B;
}

section.projects .projectContainer h6 {
    font-family: 'Libre Franklin', sans-serifx;
    font-size: 19px;
    border-bottom: 2px solid #F8D86B;
    padding-bottom: 6px;
    color: #325C8B;
}

section.projects .projectContainer ul {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
}

section.projects .projectContainer li {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 7px;
    border: 2px solid #4D75A2;
    background-color: #D4E3F3;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: #325C8B;
}

section.projects .projectContainer a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: #325C8B;
    color: #F4F3F5;
    margin-top: 10px;
    margin-right: 5px;
    width: 90px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

section.projects .projectContainer div {
    width: 49.5%;
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
}

/*
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 100%;
}
*/

section.projects .projectDescription p {
    padding-top: 7px;
    padding-bottom: 7px;
}




/**/

/*footer section*/

footer {
    text-align: center;
    /*    background-color: #FFCFB6;*/
    background-color: #F8D86B;
    border-top: 2px solid #D57541;
    /*    height: 100px;*/
    padding: 1rem;
}


div.footerInfo p {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;

}










/**/

.navOptions:hover,
#budget:hover,
#recipe:hover,
#pet:hover,
#cowboys:hover {
    background-color: #433B94;
    color: white;
}
